In [38]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn import svm
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn import tree
from sklearn.ensemble import RandomForestRegressor

In [42]:
dataset=pd.read_excel("/Users/roshni/Desktop/Crime Prediction system/crp.xlsx")

In [43]:
print(dataset)

     Year       City  Population (in Lakhs) (2011)+  Murder  Kidnapping  \
0    2014  Ahmedabad                           63.5      82         367
1    2015  Ahmedabad                           63.5      94         332
2    2016  Ahmedabad                           63.5     103         376
3    2017  Ahmedabad                           63.5      90         263
4    2018  Ahmedabad                           63.5      98         277
..    ...        ...                            ...     ...         ...
147  2017      Surat                           45.8      89         332
148  2018      Surat                           45.8     108         373
149  2019      Surat                           45.8      97         358
150  2020      Surat                           45.8     116         163
151  2021      Surat                           45.8     121         270

     Crime against women  Crime against children  \
0                   1371                     437
1                   1067                     609
2                   1126                     481
3                   1405                     600
4                   1416                     733
..                   ...                     ...
147                  559                     526
148                  712                    1075
149                 1015                     770
150                  633                     419
151                  622                     479

     Crime Committed by Juveniles  Crime against Senior Citizen  \
0                             215                            68
1                             157                            17
2                             258                           362
3                             405                           534
4                             352                           733
..                            ...                           ...
147                           436                           131
148                           409                           161
149                           516                           232
150                           298                            69
151                           355                            66

     Crime against SC  Crime against ST  Economic Offences  Cyber Crimes
0                  66                 6                399            32
1                  60                 9                378            28
2                  96                10                479            77
3                 119                 6                608           112
4                 145                 9                842           212
..                ...               ...                ...           ...
147                32                10                719           105
148                29                13                829           155
149                34                19                804           228
150                20                12                401           204
151                22                19                663           296

[152 rows x 13 columns]

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           152 non-null    int64
 1   City                           152 non-null    object
 2   Population (in Lakhs) (2011)+  152 non-null    float64
 3   Murder                         152 non-null    int64
 4   Kidnapping                     152 non-null    int64
 5   Crime against women            152 non-null    int64
 6   Crime against children         152 non-null    int64
 7   Crime Committed by Juveniles   152 non-null    int64
 8   Crime against Senior Citizen   152 non-null    int64
 9   Crime against SC               152 non-null    int64
 10  Crime against ST               152 non-null    int64
 11  Economic Offences              152 non-null    int64
 12  Cyber Crimes                   152 non-null    int64
dtypes: float64(1), int64(11), object(1)
memory usage: 15.6+ KB

In [6]:
#Data Preprcoessing

In [7]:
#Step 1:Handle Missing Values
dataset.fillna(dataset.median(numeric_only=True), inplace=True)  # Fill numeric NaN with median
dataset.fillna(dataset.mode().iloc[0], inplace=True)  # Fill categorical NaN with mode

In [8]:
print(dataset)

     Year       City  Population (in Lakhs) (2011)+  Murder  Kidnapping  \
0    2014  Ahmedabad                           63.5      82         367
1    2015  Ahmedabad                           63.5      94         332
2    2016  Ahmedabad                           63.5     103         376
3    2017  Ahmedabad                           63.5      90         263
4    2018  Ahmedabad                           63.5      98         277
..    ...        ...                            ...     ...         ...
147  2017      Surat                           45.8      89         332
148  2018      Surat                           45.8     108         373
149  2019      Surat                           45.8      97         358
150  2020      Surat                           45.8     116         163
151  2021      Surat                           45.8     121         270

     Crime against women  Crime against children  \
0                   1371                     437
1                   1067                     609
2                   1126                     481
3                   1405                     600
4                   1416                     733
..                   ...                     ...
147                  559                     526
148                  712                    1075
149                 1015                     770
150                  633                     419
151                  622                     479

     Crime Committed by Juveniles  Crime against Senior Citizen  \
0                             215                            68
1                             157                            17
2                             258                           362
3                             405                           534
4                             352                           733
..                            ...                           ...
147                           436                           131
148                           409                           161
149                           516                           232
150                           298                            69
151                           355                            66

     Crime against SC  Crime against ST  Economic Offences  Cyber Crimes
0                  66                 6                399            32
1                  60                 9                378            28
2                  96                10                479            77
3                 119                 6                608           112
4                 145                 9                842           212
..                ...               ...                ...           ...
147                32                10                719           105
148                29                13                829           155
149                34                19                804           228
150                20                12                401           204
151                22                19                663           296

[152 rows x 13 columns]

In [9]:
#Step 2: Encode the "City" column (Convert text to numbers to make them machine-readable, we must convert them to numeric labels.)
le=LabelEncoder()
dataset['City_Code']=le.fit_transform(dataset['City'])

In [10]:
print(dataset)

     Year       City  Population (in Lakhs) (2011)+  Murder  Kidnapping  \
0    2014  Ahmedabad                           63.5      82         367
1    2015  Ahmedabad                           63.5      94         332
2    2016  Ahmedabad                           63.5     103         376
3    2017  Ahmedabad                           63.5      90         263
4    2018  Ahmedabad                           63.5      98         277
..    ...        ...                            ...     ...         ...
147  2017      Surat                           45.8      89         332
148  2018      Surat                           45.8     108         373
149  2019      Surat                           45.8      97         358
150  2020      Surat                           45.8     116         163
151  2021      Surat                           45.8     121         270

     Crime against women  Crime against children  \
0                   1371                     437
1                   1067                     609
2                   1126                     481
3                   1405                     600
4                   1416                     733
..                   ...                     ...
147                  559                     526
148                  712                    1075
149                 1015                     770
150                  633                     419
151                  622                     479

     Crime Committed by Juveniles  Crime against Senior Citizen  \
0                             215                            68
1                             157                            17
2                             258                           362
3                             405                           534
4                             352                           733
..                            ...                           ...
147                           436                           131
148                           409                           161
149                           516                           232
150                           298                            69
151                           355                            66

     Crime against SC  Crime against ST  Economic Offences  Cyber Crimes  \
0                  66                 6                399            32
1                  60                 9                378            28
2                  96                10                479            77
3                 119                 6                608           112
4                 145                 9                842           212
..                ...               ...                ...           ...
147                32                10                719           105
148                29                13                829           155
149                34                19                804           228
150                20                12                401           204
151                22                19                663           296

     City_Code
0            0
1            0
2            0
3            0
4            0
..         ...
147         18
148         18
149         18
150         18
151         18

[152 rows x 14 columns]

In [19]:
# Convert categorical variables (City, Crime Type) into numeric using Label Encoding
le_city = LabelEncoder()
le_crime = LabelEncoder()
df["City"] = le_city.fit_transform(df["City"])  
df["Crime Type"] = le_crime.fit_transform(df["Crime Type"])  
# Define X (features) and y (target)
X = df[["Year", "City", "Population", "Crime Type"]]
y = df["Number of Cases"]

In [47]:
#Step 3:Normalize numerical columns(MinMax Scaling)
scaler_X = StandardScaler()  # Scaling for features
scaler_y = StandardScaler()  # Scaling for target variable
# Scale features
X_scaled = scaler_X.fit_transform(X)  
# Scale target variable (reshape required for single column)
y_scaled = scaler_y.fit_transform(y.values.reshape(-1, 1)).ravel()

In [48]:
print(dataset)

     Year       City  Population (in Lakhs) (2011)+  Murder  Kidnapping  \
0    2014  Ahmedabad                           63.5      82         367
1    2015  Ahmedabad                           63.5      94         332
2    2016  Ahmedabad                           63.5     103         376
3    2017  Ahmedabad                           63.5      90         263
4    2018  Ahmedabad                           63.5      98         277
..    ...        ...                            ...     ...         ...
147  2017      Surat                           45.8      89         332
148  2018      Surat                           45.8     108         373
149  2019      Surat                           45.8      97         358
150  2020      Surat                           45.8     116         163
151  2021      Surat                           45.8     121         270

     Crime against women  Crime against children  \
0                   1371                     437
1                   1067                     609
2                   1126                     481
3                   1405                     600
4                   1416                     733
..                   ...                     ...
147                  559                     526
148                  712                    1075
149                 1015                     770
150                  633                     419
151                  622                     479

     Crime Committed by Juveniles  Crime against Senior Citizen  \
0                             215                            68
1                             157                            17
2                             258                           362
3                             405                           534
4                             352                           733
..                            ...                           ...
147                           436                           131
148                           409                           161
149                           516                           232
150                           298                            69
151                           355                            66

     Crime against SC  Crime against ST  Economic Offences  Cyber Crimes
0                  66                 6                399            32
1                  60                 9                378            28
2                  96                10                479            77
3                 119                 6                608           112
4                 145                 9                842           212
..                ...               ...                ...           ...
147                32                10                719           105
148                29                13                829           155
149                34                19                804           228
150                20                12                401           204
151                22                19                663           296

[152 rows x 13 columns]

In [45]:
#Step 4: Reshape the Data (Convert to long format)
new_df = pd.DataFrame(columns=['Year', 'City', 'Population', 'Crime Type', 'Number of Cases'])
for crime_type in dataset.columns[3:-1]:  # Loop through crime columns (Skipping Year, City, Population)
    temp = dataset[['Year', 'City', 'Population (in Lakhs) (2011)+']].copy()  # Select required columns
    temp.rename(columns={'Population (in Lakhs) (2011)+': 'Population'}, inplace=True)  
    temp['Number of Cases'] = dataset[crime_type]  # Assign crime cases
    temp['Crime Type'] = crime_type  # Assign crime type name   
    new_df = pd.concat([new_df, temp])  # Merge into final dataframe

/var/folders/pz/0j6jwx752xq1jsf9_vmdfvc80000gn/T/ipykernel_11426/994442190.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  new_df = pd.concat([new_df, temp])  # Merge into final dataframe

In [46]:
print(new_df)

     Year       City  Population         Crime Type Number of Cases
0    2014  Ahmedabad        63.5             Murder              82
1    2015  Ahmedabad        63.5             Murder              94
2    2016  Ahmedabad        63.5             Murder             103
3    2017  Ahmedabad        63.5             Murder              90
4    2018  Ahmedabad        63.5             Murder              98
..    ...        ...         ...                ...             ...
147  2017      Surat        45.8  Economic Offences             719
148  2018      Surat        45.8  Economic Offences             829
149  2019      Surat        45.8  Economic Offences             804
150  2020      Surat        45.8  Economic Offences             401
151  2021      Surat        45.8  Economic Offences             663

[1368 rows x 5 columns]

In [16]:
#Step 5: Save the processed dataset
new_df.to_csv("processed_crime_data.csv", index=False)
print("Data preprocessing completed! Saved as 'processed_crime_data.csv'.")

Data preprocessing completed! Saved as 'processed_crime_data.csv'.

In [17]:
#Loading the processed data
df=pd.read_csv("processed_crime_data.csv")
print(df)

      Year       City  Population    Crime Type  Number of Cases
0     2014  Ahmedabad        63.5        Murder               82
1     2015  Ahmedabad        63.5        Murder               94
2     2016  Ahmedabad        63.5        Murder              103
3     2017  Ahmedabad        63.5        Murder               90
4     2018  Ahmedabad        63.5        Murder               98
...    ...        ...         ...           ...              ...
1515  2017      Surat        45.8  Cyber Crimes              105
1516  2018      Surat        45.8  Cyber Crimes              155
1517  2019      Surat        45.8  Cyber Crimes              228
1518  2020      Surat        45.8  Cyber Crimes              204
1519  2021      Surat        45.8  Cyber Crimes              296

[1520 rows x 5 columns]

In [18]:
print(df)

      Year       City  Population    Crime Type  Number of Cases
0     2014  Ahmedabad        63.5        Murder               82
1     2015  Ahmedabad        63.5        Murder               94
2     2016  Ahmedabad        63.5        Murder              103
3     2017  Ahmedabad        63.5        Murder               90
4     2018  Ahmedabad        63.5        Murder               98
...    ...        ...         ...           ...              ...
1515  2017      Surat        45.8  Cyber Crimes              105
1516  2018      Surat        45.8  Cyber Crimes              155
1517  2019      Surat        45.8  Cyber Crimes              228
1518  2020      Surat        45.8  Cyber Crimes              204
1519  2021      Surat        45.8  Cyber Crimes              296

[1520 rows x 5 columns]

In [21]:
# Split into 80% training and 20% testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(f"Training Samples: {X_train.shape[0]}, Testing Samples: {X_test.shape[0]}")

Training Samples: 1216, Testing Samples: 304

In [22]:
#Model Creation

In [23]:
#Model 1 - Linear Regression
# Initialize the Linear Regression model
model1=LinearRegression()
# Train the model on training data
model1.fit(X_train,y_train)
# Predict on test data
y_pred=model1.predict(X_test)

In [24]:
#Evaluate Model 1 Performance
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('R² Score:', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 672.7453927096226
Mean Squared Error: 1364880.6655204748
R² Score: 0.22886723028478917

In [25]:
#Model 2 - Support Vector Machine
model2=svm.SVR()
model2.fit(X_train,y_train)
y_pred=model2.predict(X_test)

In [26]:
#Evaluate Model 2 Performance
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('R2 score:', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 611.5805153255154
Mean Squared Error: 1999383.4660305392
R2 score: -0.12961532010198984

In [27]:
#Model 3 - KNN
model3 = KNeighborsRegressor(n_neighbors=2)
model3.fit(X_train, y_train)
y_pred = model3.predict(X_test)

In [28]:
#Evaluate Model 3 Performance
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('R2 score:', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 341.15625
Mean Squared Error: 559062.6011513158
R2 score: 0.6841397911475234

In [29]:
#Model 4 - Decision Tree Regressor
model4 = tree.DecisionTreeRegressor()
model4.fit(X_train, y_train)
y_pred = model4.predict(X_test)

In [30]:
#Evaluate Model 4 Performance
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('R2 score:', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 121.10197368421052
Mean Squared Error: 80752.84539473684
R2 score: 0.9543761100111404

In [31]:
#Model 5 - RandomForestRegressor
model5 = RandomForestRegressor(random_state=0)
model5.fit(X_train, y_train)
y_pred = model5.predict(X_test)

In [32]:
#Evaluate Model 5 Performance
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('R2 score:', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 110.29296052631578
Mean Squared Error: 62525.12813618421
R2 score: 0.9646744389788333

In [33]:
# Store evaluation metrics for each model
results = {
    "Model": ["Linear Regression", "Support Vector Machine", "KNN", "Decision Tree", "Random Forest"],
    "Mean Absolute Error": [672.7453927096228, 605.4091092169841 , 108.91611842105263 , 122.0592105263158, 109.38799342105264 ],
    "Mean Squared Error": [1364880.6655204755, 1986454.318388477,  58675.71792763158, 78068.98684210527 , 61290.64291875],  # Replace with your actual values
    "R2 Score": [0.22886723028478873, -0.12231058666767258, 0.9668492857847694, 0.955892441315039, 0.9653719006902786]  # Replace with your actual values
}
# Convert to DataFrame
results_df = pd.DataFrame(results)
# Sort by R2 Score (higher is better)
results_df = results_df.sort_values(by="R2 Score", ascending=False)
# Display results
print(results_df)

                    Model  Mean Absolute Error  Mean Squared Error  R2 Score
2                     KNN           108.916118        5.867572e+04  0.966849
4           Random Forest           109.387993        6.129064e+04  0.965372
3           Decision Tree           122.059211        7.806899e+04  0.955892
0       Linear Regression           672.745393        1.364881e+06  0.228867
1  Support Vector Machine           605.409109        1.986454e+06 -0.122311

In [ ]:
#Model Performance Comparison

#Best Model: K-Nearest Neighbors (KNN)
#R² Score = 0.9668 → Highest among all models (close to 1, meaning strong predictive power).
#Lowest Mean Absolute Error (MAE) = 108.91 → Model is making small mistakes on average.
#Lowest Mean Squared Error (MSE) = 58675.72 → Model is minimizing error efficiently.

#Runner-up: Random Forest
#R² Score = 0.9653 → Very close to KNN.
#MAE = 109.39 → Almost as good as KNN.
#MSE = 61290.64 → Slightly worse than KNN.

#KNN vs. Random Forest:
#KNN performs slightly better.
#Random Forest is more robust and works better for larger datasets or unseen data.
#If speed is a concern, Random Forest is faster for large datasets, while KNN can be slow in real-time predictions.

In [34]:
import joblib
# Save the trained KNN model
joblib.dump(model3, 'knn_model.joblib')
print("KNN Model saved successfully as 'knn_model.joblib'")
# Load the saved KNN model
knn_model = joblib.load('knn_model.joblib')
print("KNN Model loaded successfully!")

KNN Model saved successfully as 'knn_model.joblib'
KNN Model loaded successfully!

In [40]:
import joblib
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

# Assuming you have your training data: X_train and y_train
# Create the scaler
scaler = StandardScaler()

# Fit the scaler on your training data (X_train)
X_train_scaled = scaler.fit_transform(X_train)

# Train the model (model3)
model3 = KNeighborsClassifier(n_neighbors=5)
model3.fit(X_train_scaled, y_train)

# Save the trained KNN model and the scaler
joblib.dump(model3, 'knn_model.joblib')
joblib.dump(scaler, 'scaler_X.joblib')  # Save the scaler
print("KNN Model and Scaler saved successfully!")

KNN Model and Scaler saved successfully!

In [35]:
# Predict on test data
y_pred=knn_model.predict(X_test)

In [36]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
# Calculate performance metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
# Print the results
print(f"Model Accuracy after Loading:")
print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")
print(f"R2 Score: {r2}")

Model Accuracy after Loading:
Mean Absolute Error: 341.15625
Mean Squared Error: 559062.6011513158
R2 Score: 0.6841397911475234

In [41]:
pip install flask

Collecting flask
  Downloading flask-3.1.0-py3-none-any.whl.metadata (2.7 kB)
Collecting Werkzeug>=3.1 (from flask)
  Downloading werkzeug-3.1.3-py3-none-any.whl.metadata (3.7 kB)
Collecting Jinja2>=3.1.2 (from flask)
  Downloading jinja2-3.1.6-py3-none-any.whl.metadata (2.9 kB)
Collecting itsdangerous>=2.2 (from flask)
  Downloading itsdangerous-2.2.0-py3-none-any.whl.metadata (1.9 kB)
Collecting click>=8.1.3 (from flask)
  Downloading click-8.1.8-py3-none-any.whl.metadata (2.3 kB)
Collecting blinker>=1.9 (from flask)
  Downloading blinker-1.9.0-py3-none-any.whl.metadata (1.6 kB)
Collecting MarkupSafe>=2.0 (from Jinja2>=3.1.2->flask)
  Downloading MarkupSafe-3.0.2-cp313-cp313-macosx_11_0_arm64.whl.metadata (4.0 kB)
Downloading flask-3.1.0-py3-none-any.whl (102 kB)
Downloading blinker-1.9.0-py3-none-any.whl (8.5 kB)
Downloading click-8.1.8-py3-none-any.whl (98 kB)
Downloading itsdangerous-2.2.0-py3-none-any.whl (16 kB)
Downloading jinja2-3.1.6-py3-none-any.whl (134 kB)
Downloading werkzeug-3.1.3-py3-none-any.whl (224 kB)
Downloading MarkupSafe-3.0.2-cp313-cp313-macosx_11_0_arm64.whl (12 kB)
Installing collected packages: MarkupSafe, itsdangerous, click, blinker, Werkzeug, Jinja2, flask
Successfully installed Jinja2-3.1.6 MarkupSafe-3.0.2 Werkzeug-3.1.3 blinker-1.9.0 click-8.1.8 flask-3.1.0 itsdangerous-2.2.0
Note: you may need to restart the kernel to use updated packages.